body {
  background: #fff;
}
.YLT-header {
  position: static;
  box-shadow: inset 0px -2px 0px 0px #F2F3F5;
}
.YLT-header .pageTitle {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
}
.YLT-body {
  padding: 0 !important;
}
.YLT-body .btn {
  font-size: 14px;
}
.YLT-body .wide-block {
  border: none;
}
.YLT-body .login-introduce {
  color: #F5A623;
}
.YLT-body .form-group .label {
  font-size: 1rem;
}
.YLT-body .was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #141515;
}
.YLT-body .was-validated .form-control:valid {
  border-color: #1E74FD;
}
.YLT-body .needs-validation.was-validated .form-group.boxed .clear-input {
  bottom: 0;
}
.YLT-body .was-validated .form-control:invalid ~ .clear-input {
  bottom: 20px !important;
}
.YLT-body .error-page {
  max-width: none;
}
.YLT-body #slider-check {
  width: 100%;
  height: 40px;
}
.YLT-body #slider-check .ft-slider {
  position: relative;
  text-align: center;
  font-size: 12px;
  background-color: #e8e8e8;
  color: #666666;
}
.YLT-body #slider-check .ft-slider .transition {
  transition: all 0.4s;
}
.YLT-body #slider-check .ft-slider .ft-slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}
.YLT-body #slider-check .ft-slider .ft-slider-content.success {
  color: #fff;
}
.YLT-body #slider-check .ft-slider .ft-slider-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/slider.png') no-repeat center center #fff;
  background-size: 16px 16px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.YLT-body #slider-check .ft-slider .ft-slider-bar.success {
  background-image: url('../img/success.png');
}
.YLT-body #slider-check .ft-slider .ft-slider-bg {
  width: 0;
  height: 100%;
  background-color: #7ac23c;
}
.YLT-body #slider-check .ft-slider .lock {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #4d4d4d), color-stop(0.4, #4d4d4d), color-stop(0.5, #fff), color-stop(0.6, #4d4d4d), color-stop(1, #4d4d4d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: lock 2.6s infinite;
  -webkit-text-size-adjust: none;
}
@-webkit-keyframes lock {
  0% {
    background-position: -140px 0;
  }
  100% {
    background-position: 140px 0;
  }
}
@keyframes lock {
  0% {
    background-position: -140px 0;
  }
  100% {
    background-position: 140px 0;
  }
}
