body {
    background: #fff;
}

.YLT-header {
    position: static;

    box-shadow: inset 0px -2px 0px 0px #F2F3F5;

    .pageTitle {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 20px;
    }
}

.YLT-body {
    padding: 0 !important;

    .btn {
        font-size: 14px;
    }

    .wide-block {
        border: none;
    }

    .login-introduce {

        color: #F5A623;
    }

    .form-group .label {
        font-size: 1rem;
    }


    .was-validated .custom-control-input:valid~.custom-control-label {
        color: #141515;
    }

    .was-validated .form-control:valid {
        border-color: #1E74FD;
    }


    .needs-validation.was-validated .form-group.boxed .clear-input {
        bottom: 0;
    }

    .was-validated .form-control:invalid~.clear-input {
        bottom: 20px !important;
    }

    .error-page {
        max-width: none;

        .icon-box {
            width: 86px;
            height: 86px;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto 20px;
        }
    }
}